@{
ViewBag.Title = "Chart";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="stock-Infro" style="font-size:25px;font-weight:900"></div>
<div class="show-box" style="width:100%;">
<div class="show-box-c">
</div>
<div class="show-chart-box">
<div class="show-chart-box-c" style="width:970px;padding: 10px">
    <div id="addeditem" style="float: left"></div>
    <div style="float: right">
        <button class="apply" id="remove">Remove</button>
        <button class="apply" id="add">Add</button>
    </div>
</div>
<div id="container" style="height: 400px; min-width: 310px"></div>
</div>
</div>
@section Footer{
<script src="~/Scripts/highstock.js"></script>
<script src="~/Scripts/exporting.js"></script>
<!--
<script src="~/Scripts/export-data.js"></script>
-->
<script>
$(function() {
    @*'user strict';*@
    $(".tooplate_menu-ul li:eq(2) a").addClass("tooplate_menu-ul-li-active");



    $("#add").on("click", function (event) {
        var symbolKey = $("#searchsymbol").val();
        addSymbol(symbolKey);
    });
    function addSymbol(symbolKey) {
        console.log("addSymbol  " + symbolKey);
        //var symbolKey = $("#searchsymbol").val();
        if (symbolKey != null && symbolKey != "") {
            if ($.inArray(symbolKey, names) != -1) {
                alert("have added!");
            } else {
                //console.log("add len: " + names);
                $("#searchsymbol").val("");
                redawChart(symbolKey);
            }
        }
    }

    $("#remove").on("click", function(event) {
        names.pop();
        labels.pop();
        seriesCounter--;
        seriesOptions.pop();
        //console.log(seriesOptions);
        //$("#addeditem").remove($("#addeditem label:last-child"));
        $("#addeditem label:last-child").remove();
        createChart();
    });

    //stock chart
    var seriesOptions = [],
        seriesCounter = 0,
        //names = ['MSFT'],
        names = [],
        labels = [];

    // create the chart when all data is loaded
    var createChart = function () {
        Highcharts.stockChart('container', {
            rangeSelector: {
                selected: 4
            },
            yAxis: {
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },
            plotOptions: {
                series: {
                    compare: 'percent'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                valueDecimals: 2
            },
            series: seriesOptions
        });
    };

    var redawChart = function(name) {
        console.log('redraw');
        //var name = names[names.length - 1];
        $.ajax({
            url: "/Summary/GetSummaryData",
            type: "POST",
            dataType: 'json',
            data: { symbol: name },
            success: function (response) {
                if (response.code == '1' && response.len > 0) {
                    var data = new Array();
                    for (var count = 0; count < response.len; count++) {
                        var item = response.data[count];
                        data.push([item.DateTime, item.Close]);
                    }
                    seriesOptions.push({
                        name: name,
                        data: data,
                        _colorIndex: names.length,
                        _symbolIndex: names.length

                    });
                    //console.log("seriesOptions:", seriesOptions);
                    seriesCounter++;

                    names.push(name);
                    labels.push(name);
                    //font-size: 25px;
                    //font - weight: 900;
                    $("#addeditem").append("<label style='font-size: 25px;font - weight: 900;'>" + name.toUpperCase() + "</label>&nbsp&nbsp");
                    //if (i + 1 == names.length){
                    //    var str = "";
                    //    console.log("names = " + names);
                    //    for(var n = 0; n < names.length; n++){
                    //        str += "<label>" + names[n] + "</label>&nbsp&nbsp";
                    //    }
                    //    $("#addeditem").html(str);
                    //}
                    console.log(seriesOptions);
                    createChart();
                } else {
                    alert("Unknown error");
                }
            }
        });
    
    };

    addSymbol("c");
})
</script>
}

