<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" media="screen" />
    <script type='text/javascript' src='~/Scripts/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.scrollTo-min.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.localscroll-min.js'></script>
    <script type="text/javascript" src="~/Scripts/jquery.lightbox-0.5.js"></script>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
    <script type="text/javascript" src="~/Scripts/arial.js"></script>
    <script type="text/javascript" src="~/Scripts/cuf_run.js"></script>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <link href="~/Content/tooplate_style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.cookie.min.js"></script>

</head>
<body>
    <div id="tooplate_wrapper">
        <div id="top">
            <div class="head-right-button">
                <div class="NotLogin" style="display:none">
                    <a class="SignIn-a" href="/User/Login">Sign In</a>&nbsp;&nbsp;&nbsp;
                    <a class="SignUp-a" href="/User/Register">Sign Up</a>
                </div>
                <div class="IsLogin" style="display:none">
                    <span id="username"></span>&nbsp;&nbsp;&nbsp;
                    <a class="SignUp-a" href="javascript:void(0)" id="exit">Exit</a>
                </div>
            </div>
        </div>

        <div id="templatmeo_header">
            <div id="site_title">
                <h1><a href="#">Mini Blue</a></h1>
            </div>

            <div id="tooplate_menu">
                <ul class="tooplate_menu-ul">
                    <li><a href="/WatchLists">Home</a></li>
                    <li><a href="/Summary">Summary</a></li>
                    <li><a href="/Chart">Chart</a></li>
                    <li><a href="/Historic">History Data</a></li>
                    <li class="last" style="display:none" id="portfolio"><a href="/Portfolio">My Portfolio</a></li>

                </ul>
                <div class="search-box-c" id="search-box-c">
                    <div class="form">
                        <input type="text" placeholder="Please search..." id="searchsymbol" data-provide="typeahead">
                        <button  id="search"></button>
                    </div>
                </div>
            </div> <!-- end of tooplate_menu -->

        </div>

        <div id="tooplate_main">
            <div class="tooplate_main-c">
                <div class="symbolInfo"></div>
                <div class="content_box">
                    @RenderBody()
                </div> <!-- end of a content box -->
            </div>
            
        </div> <!-- end of wrapper -->
       </div>
    <script>
        $(function () {
            'user strict';

            var username = $.cookie('username');
            console.log(username);
            if (username == null || username == "") {
                $(".NotLogin").show();
            } else {
                $(".IsLogin").show();
                $("#username").html(username);
                $("#portfolio").show();
            }

            $("#exit").on("click", function () {
                $.ajax({
                    url: "/User/Logout",
                    type: "POST",
                    dataType: "json",
                    crossDomain: true,
                    success: function (response) {
                        if (response.code == 0) {
                            alert("Unknown error");
                        } else {
                            $.removeCookie("username");
                            window.location.href = '/WatchLists';
                        }
                    }
                });
            });

            $.ajax({
                url: "/SearchSymbol/GetSearchSymbol",
                type: "POST",
                data: {
                    searchKey: ""
                },
                dataType: "json",
                crossDomain: true,
                success: function (response) {
                    if (response.len == 0) {
                        return;
                    } else {
                        $("#searchsymbol").typeahead({ source: response.data });
                    }
                }
            });

            //$(".tooplate_menu-ul li a").click(function () {
            //    $(this).parent().siblings().children().removeClass("tooplate_menu-ul-li-active");
            //    $(this).addClass("tooplate_menu-ul-li-active");
            //});
        })
    </script>
        <footer>@RenderSection("Footer", false)</footer>
</body>
</html>