<?xml version="1.0" encoding="utf-8" ?>
<!--
    注意: 向配置设置的 App.config 文件添加
    只适用于 Test 项目的条目。
-->
<configuration>
    <appSettings>
      <add key="webpages:Version" value="3.0.0.0"/>
      <add key="webpages:Enabled" value="false"/>
      <add key="ClientValidationEnabled" value="true"/>
      <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    </appSettings>

    <connectionStrings>
      <add name="DataAnalyticsConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DataAnalytics;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
