@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Historic";
}
<div class="search-box" style="position:absolute;top:100px;width:100%" ">
    <div class="search-box-c">
        <div class="form">
            <input type="text" placeholder="Please search..." id="searchsymbol" data-provide="typeahead">
            <input type="hidden">
            <button id="search"></button>
        </div>
        @*<div class="search-box-drop-menu">
            <ul></ul>
        </div>*@
    </div>
</div>

<div class="show-box" style="width:100%;position: absolute;top:200px;">
    <div class="show-box-c">
        <div class="show-title-box">
            <ul>
                <li><a href="/WatchLists">Home</a></li>
                <li><a href="/Summary">Summary</a></li>
                <li><a href="/Chart">Chart</a></li>
                <li class="active"><a href="#">History Data</a></li>
            </ul>
        </div>
    </div>
    <div class="show-chart-box">
        <div class="show-chart-box-c" style="width:970px;padding: 10px">
            <div class="calendar" style="float:left">
                <label for="from">From</label>
                <input type="text" id="from" name="from" style="background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%); background-blend-mode: screen;">
                <label for="to">To</label>
                <input type="text" id="to" name="to" style="background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%); background-blend-mode: screen;">
            </div>
            <button class="apply">Apply</button>
        </div>
        <table id="historyDataTable" class="display" style="width:970px;height:1000px;padding :20px 20px ;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Volume</th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section Footer{


    <script>
        //function hideDropMenu() {
        //    var dropMenu = document.getElementsByClassName('search-box-drop-menu')[0];
        //    dropMenu.style.visibility = "hidden";
        //}
        $(function () {
            'user strict';

            $.ajax({
                url: "/SearchSymbol/GetSearchSymbol",
                type: "POST",
                data: {
                    searchKey: ""
                },
                dataType: "json",
                crossDomain: true,
                success: function (response) {
                    if (response.len == 0) {
                        return;
                    } else {
                        $("#searchsymbol").typeahead({ source: response.data });
                    }
                }
            });

            $(".show-title-box ul li").click(function () {
                $(this).siblings().removeClass("active");
                $(this).addClass("active");
            });

            $("#from").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                minDate: new Date(2016, 1 - 1, 4),
                maxDate: new Date(2016, 3 - 1, 24),
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                    $("#from").datepicker("option", "dateFormat", "yy-mm-dd");
                }
            });
            $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                maxDate: new Date(2016, 3 - 1, 24),
                minDate: new Date(2016, 1 - 1, 4),
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                    $("#to").datepicker("option", "dateFormat", "yy-mm-dd");
                }
            });

            
            $("#searchsymbol").bind("keypress", function (event) {
                if (event.keyCode == '13') {
                    var symbolKey = $("#searchsymbol").val();
                    var fromDate = 20160104; //The min date
                    var toDate = 20160324; // The Max date
                    var hData = getHistoryData(symbolKey, fromDate, toDate);
                    if (hData == null || hData == "") {
                        return;
                    } else {
                        var txt = $(this).val();
                        $(".stock-Infro").css("display", "block").html(txt);
                    }
                    //$(this).val("");
                }
            });

            
            $("#searchsymbol").on("blur", function () {
                setTimeout(function () {
                    $(".search-box-drop-menu").hide();
                }, 100);
            })

            $(".search-box-drop-menu").on("click", "ul li", function () {
                console.log(".search-box-drop-menu click:", $("#searchsymbol").val);
                $("#searchsymbol").val($(this).html());
                $(".search-box-drop-menu").hide();
            });
            

            function Trim(str, is_global) {
                var result;
                result = str.replace(/(^\s+)|(\s+$)/g, "");
                if (is_global.toLowerCase() == "g") {
                    result = result.replace(/\s/g, "");
                }
                return result;
            }

            $("#searchsymbol").bind("keyup", function (event) {
                // $("#input_test2").val($("#searchsymbol").val());
                var getSearchSymbol = $("#searchsymbol").val();
                var t = Trim(getSearchSymbol, "g");
                if (t == null || t == "") {
                    return;
                } else {
                    $.ajax({
                        url: "/SearchSymbol/GetSearchSymbol",
                        type: "POST",
                        data: {
                            searchKey: t
                        },
                        dataType: "json",
                        crossDomain: true,
                        success: function (response) {
                            if (response.len == 0) {
                                $(".search-box-drop-menu").hide();
                                return;
                            } else {
                                var str = '';
                                for (var i = 0; i < response.len && i < 10; i++) {
                                    str += "<li>" + response.data[i] + "</li>";
                                }
                                $(".search-box-drop-menu ul").html(str);
                                $(".search-box-drop-menu").show();
                            }
                        }
                    });
                }
            });

            $("#search").on("click", function (event) {
                var symbolKey = $("#searchsymbol").val();
                var fromDate = 20160104; //The min date
                var toDate = 20160324; // The Max date
                var hData2 = getHistoryData(symbolKey, fromDate, toDate);
                if (hData2 == null || hData2 == "") {
                    return;
                } else {
                    var txt = $("#searchsymbol").val();
                    $(".stock-Infro").css("display", "block").html(txt);
                }
            });

            $("button.apply").on("click", function (event) {
                var symbolKey = $("#searchsymbol").val();
                var fromDate = $("#from").val().replace(/-/g, "");
                var toDate = $("#to").val().replace(/-/g, "");
                //console.log(fromDate);
                //console.log(toDate);
                getHistoryData(symbolKey, fromDate, toDate);
            });


            var table;
            //var showHistoryData = function (historydata) {
            table = $("#historyDataTable").DataTable({
                //data: ['No Data Set'],
                //ajax: getHistoryData,
                'infoEmpty': '没有数据',
                "columns": [
                    { "data": "Date" },
                    { "data": "Open" },
                    { "data": "High" },
                    { "data": "Low" },
                    { "data": "Close" },
                    { "data": "Volume" }
                ]
            });
            //};
            var getHistoryData = function (symbolKey, fromDate, toDate) {
                $.ajax({
                    url: "/Historic/GetHisToricData",
                    type: "POST",
                    data: {
                        symbolKey: symbolKey,
                        fromDate: fromDate,
                        toDate: toDate
                    },
                    dataType: "json",
                    crossDomain: true,
                    success: function (response) {
                        //response = response[0];
                        if (response.success == '1') {
                            // 先清空表格
                            table.clear().draw();
                            //showHistoryData(response.data);
                            table.rows.add(response.data).draw();
                        } else {
                            alert("Unknown error")
                        }

                    }
                });
            };
        })
    </script>
}