
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="stock-Infro" style="font-size:25px;font-weight:900"></div>
<div class="show-box" style="width:100%;">
    <div class="show-box-c">
        
    </div>
    <div class="show-chart-box" style="margin-top:20px;">
        <div id="summary-container" style="height: 400px; min-width: 310px"></div>
    </div>

</div>

<script src="~/Scripts/highstock.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/export-data.js"></script>
<script>
    $(function () {
        'user strict';
        // get the symbol in the url
        $(".tooplate_menu-ul li:eq(1) a").addClass("tooplate_menu-ul-li-active");
        var symbol = getQueryString("symbol");
        if (symbol == null || symbol == "") {
            symbol = "C";
        } else {
            symbol = symbol.toUpperCase();
        }
        $(".stock-Infro").html("Symbol: " + symbol);


        //$.ajax({
        //    url: "/SearchSymbol/GetSearchSymbol",
        //    type: "POST",
        //    data: {
        //        searchKey: ""
        //    },
        //    dataType: "json",
        //    crossDomain: true,
        //    success: function (response) {
        //        if (response.len == 0) {
        //            return;
        //        } else {
        //            $("#searchsymbol").typeahead({ source: response.data });
        //        }
        //    }
        //});

        getSummaryData(symbol.toLowerCase())


        // *******************************************8
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }

        function getSummaryData(symbolKey) {
            $.ajax({
                url: "/Summary/GetSummaryData",
                type: "POST",
                dataType: 'json',
                data: { symbol: symbolKey },
                success: function (data) {
                    if (data.len == 0) {
                        alert("No Data Set");
                        return;
                    }
                    // 处理url
                    symbol = symbolKey.toUpperCase();
                    var url = window.location.href.split("=")[0];
                    console.log(url);
                    $(".stock-Infro").html("Symbol: " + symbol);
                    //'/Summary?symbol='
                    window.history.pushState({}, 0, '/Summary?symbol=' + symbol);
                    // split the data set into ohlc and volume

                    var ohlc = [],
                        volume = [],
                        dataLength = data.len,
                        data = data.data;
                    // set the allowed units for data grouping
                    groupingUnits = [[
                        'week',                         // unit name
                        [1]                             // allowed multiples
                    ], [
                        'month',
                        [1, 2, 3, 4, 6]
                    ]],

                        i = 0;

                    for (i; i < dataLength; i += 1) {
                        ohlc.push([
                            data[i]["DateTime"], // the date
                            data[i]["Open"], // open
                            data[i]["High"], // high
                            data[i]["Low"], // low
                            data[i]["Close"] // close
                        ]);

                        volume.push([
                            data[i]["DateTime"], // the date
                            data[i]["Volume"] // the volume
                        ]);
                    }


                    // create the chart
                    Highcharts.stockChart('summary-container', {

                        rangeSelector: {
                            selected: 1
                        },

                        title: {
                            text: symbol.toUpperCase() + ' Summary'//symbol
                        },

                        yAxis: [{
                            labels: {
                                align: 'right',
                                x: -3
                            },
                            title: {
                                text: 'OHLC'
                            },
                            height: '60%',
                            lineWidth: 2,
                            resize: {
                                enabled: true
                            }
                        }, {
                            labels: {
                                align: 'right',
                                x: -3
                            },
                            title: {
                                text: 'Volume'
                            },
                            top: '65%',
                            height: '35%',
                            offset: 0,
                            lineWidth: 2
                        }],

                        tooltip: {
                            split: true
                        },

                        series: [{
                            type: 'candlestick',
                            name: symbol.toUpperCase(),//symbol
                            data: ohlc,
                            dataGrouping: {
                                units: groupingUnits
                            }
                        }, {
                            type: 'column',
                            name: 'Volume',
                            data: volume,
                            yAxis: 1,
                            dataGrouping: {
                                units: groupingUnits
                            }
                        }]
                    });
                }
            });
        }

        
        $(".show-title-box ul li").click(function () {
            $(this).siblings().removeClass("active");
            $(this).addClass("active");
        });



        function Trim(str, is_global) {
            var result;
            result = str.replace(/(^\s+)|(\s+$)/g, "");
            if (is_global.toLowerCase() == "g") {
                result = result.replace(/\s/g, "");
            }
            return result;
        };

        
        $("#search").on("click", function (event) {
            //var symbolKey = $("#searchsymbol").val();
            symbol = $("#searchsymbol").val();
            if (symbol == null || symbol == "") {
                return;
            }
            getSummaryData(symbol.toLowerCase());
        });

        //$("button.apply").on("click", function (event) {
            //var symbolKey = $("#searchsymbol").val();
            //var fromDate = $("#from").val().replace(/-/g, "");
            //var toDate = $("#to").val().replace(/-/g, "");
        //});



        

    })
</script>
